.login-layout {
	padding: $sp-lg;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	overflow: hidden;

	@media (min-width: 1080px) {
		justify-content: center;
	}

	.main {
		width: 19rem;
		max-width: 100%;
	}

	.login-logo-img {
		margin-bottom: $sp-xl * 2;

		@media (max-width: 1079px) {
			margin-top: $sp-xl;
		}
	}

	.text-field + .button {
		margin-top: $sp-xs;
	}

	.login-logo-bg {
		left: -70vw;
		right: -70vw;
		width: calc(140vw + 7rem);
		height: 100vw;
		top: -100%;

		@media (min-width: 1600px) {
			top: calc(-4rem - 100%);
		}
	}
}