.navbar-link {
  @include subhead-text;
  display: flex;
  align-items: center;
  line-height: $navbar-height;
  text-decoration: none;
  color: $light-2;
  padding-left: $navbar-link-padding;
  padding-right: $navbar-link-padding;
  transition: color 0.2s ease-out;

  svg path {
    fill: currentColor;
  }

  &:hover,
  &:focus,
  &[aria-current="page"] {
    color: $white;
  }
}

// active page bottom bump
.navbar-link:after {
  @include pseudo;
  width: calc(100% - 1.25em);
  height: 4px;
  position: absolute;
  left: 0.625em;
  right: 0.625em;
  bottom: 0;
  background-image: $prism;
  border-radius: $radius-md $radius-md 0 0;
  opacity: 0;
  transform: scaleX(0);
  transition: all 0.2s ease-out;
  transition-property: opacity, transform;
}

.navbar-link[aria-current="page"]:after {
  opacity: 1;
  transform: none;
}