.navmenu {
  position: absolute;
  top: calc(100% - 0.5rem);
  right: 0.25rem;
  min-width: calc(100% - 0.5rem);
  width: max-content;
  padding: 0.125rem;
  background-color: $dark-3;
  border: 1px solid $dark-2;
  border-radius: $radius-md;
  @include box-shadow;
  opacity: 0;
  transform: scaleY(0.9) translateY(-10px);
  z-index: -10;
  pointer-events: none;
}

@mixin navmenu-open {
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  opacity: 1;
  transform: none;
  z-index: 2;
  pointer-events: all;
}

.navbar-link:hover + .navmenu,
.navbar-link:focus + .navmenu,
.navmenu:hover {
  @include navmenu-open;
}

.navbar-item:focus-within .navmenu {
  @include navmenu-open;
}
