.navmenu-link {
  display: block;
  color: $light-2;
  text-decoration: none;
  padding: 0.125rem 0.5em;
  border-radius: $radius-sm;

  &:hover,
  &:focus {
    background: $dark-2;
  }

  &:before {
    @include pseudo;
    position: absolute;
    left: -0.125rem;
    width: 2px;
    top: 0;
    bottom: 0;
    background-image: $prism-vertical;
    border-radius: 0 $radius-md $radius-md 0;
    opacity: 0;
    transform: scaleY(0);
    transition: all 0.2s ease-out;
    transition-property: opacity, transform;
  }

  &[aria-current="page"]:before {
    opacity: 1;
    transform: none;
  }
}
