@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 400;
  src: url('/mu/fonts/mada-v16-latin_arabic-regular.eot');
  src: local(''),
       url('/mu/fonts/mada-v16-latin_arabic-regular.eot?#iefix') format('embedded-opentype'),
       url('/mu/fonts/mada-v16-latin_arabic-regular.woff2') format('woff2'),
       url('/mu/fonts/mada-v16-latin_arabic-regular.woff') format('woff'),
       url('/mu/fonts/mada-v16-latin_arabic-regular.ttf') format('truetype'),
       url('/mu/fonts/mada-v16-latin_arabic-regular.svg#Mada') format('svg');
}
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 700;
  src: url('/mu/fonts/mada-v16-latin_arabic-700.eot');
  src: local(''),
       url('/mu/fonts/mada-v16-latin_arabic-700.eot?#iefix') format('embedded-opentype'),
       url('/mu/fonts/mada-v16-latin_arabic-700.woff2') format('woff2'),
       url('/mu/fonts/mada-v16-latin_arabic-700.woff') format('woff'),
       url('/mu/fonts/mada-v16-latin_arabic-700.ttf') format('truetype'),
       url('/mu/fonts/mada-v16-latin_arabic-700.svg#Mada') format('svg');
}
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 600;
  src: url('/mu/fonts/mada-v16-latin_arabic-600.eot');
  src: local(''),
       url('/mu/fonts/mada-v16-latin_arabic-600.eot?#iefix') format('embedded-opentype'),
       url('/mu/fonts/mada-v16-latin_arabic-600.woff2') format('woff2'),
       url('/mu/fonts/mada-v16-latin_arabic-600.woff') format('woff'),
       url('/mu/fonts/mada-v16-latin_arabic-600.ttf') format('truetype'),
       url('/mu/fonts/mada-v16-latin_arabic-600.svg#Mada') format('svg');
}
@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 700;
  src: url('/mu/fonts/amiri-v24-latin_arabic-700.eot');
  src: local(''),
    url('/mu/fonts/amiri-v24-latin_arabic-700.eot?#iefix') format('embedded-opentype'),
    url('/mu/fonts/amiri-v24-latin_arabic-700.woff2') format('woff2'),
    url('/mu/fonts/amiri-v24-latin_arabic-700.woff') format('woff'),
    url('/mu/fonts/amiri-v24-latin_arabic-700.ttf') format('truetype'),
    url('/mu/fonts/amiri-v24-latin_arabic-700.svg#Amiri') format('svg');
}