//////////////////////////////////
// TYPOGRAPHY
//////////////////////////////////

$body-font: "Mada", -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial, sans-serif;
$title-font:  'Amiri', serif;

$body-weight: 400;
$title-weight: 700;

$font-xxxxl: 3.5rem; // 70px
$font-xxxl:  2.2rem; // 44px
$font-xxl:   1.7rem; // 34px
$font-xl:    1.4rem; // 28px
$font-lg:    1.1rem; // 22px
$font-md:    0.9rem; // 18px
$font-sm:    0.7rem; // 14px
$font-xs:    0.6rem; // 12px
$font-xxs:   0.5rem; // 10px