$assetTileHeaderHeight: $sp-xl * 3;

.asset-tile {
  padding: $assetTileHeaderHeight $sp-md $sp-md $sp-md;
}

.asset-tile-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  height: $assetTileHeaderHeight;
}
.asset-tile-header-label {
  margin-left: $sp-md;
  margin-right: $sp-md;
}
.asset-tile-header-bg {
  @include absolute-expand;
  @include hue-shift;
  object-fit: cover;
  z-index: -1;
}

.asset-tile-list {
  text-align: left;
}