$field-height: 2rem;

.controls {
	display: flex;

	* {
		height: $field-height;
	}

	@media (max-width: 699px) {
		flex-direction: column;

		& > *:not(:last-child) {
			margin-bottom: $sp-md;

			.select-inner {
				flex: 1 0 calc(100% - 4rem);
			}

			& > * {
				width: 100%;
			}
		}
	}

	@media (min-width: 700px) {
		& > :not(:last-child) {
			margin-right: $sp-xl;
		}
		& > :last-child {
			margin-left: auto;
		}
	}
}

.hero + .wrapper > .controls:first-child {
	margin-top: -$sp-xl;
}