.controls {
	height: 2rem;
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;

	& > :not(:last-child) {
		margin-right: $sp-xl;
	}
	& > :last-child {
		margin-left: auto;
	}

	& * {
		height: 100%;
	}
}

.hero + .wrapper > .controls:first-child {
	margin-top: -$sp-xl;
}