.status-icon {
  display: inline-block;
  vertical-align: top;
  top: 1px;
  width: 1.125em;
  height: 1.125em;
  border-radius: 50%;
  background-color: $malachite-dark;
  border: 1px solid $malachite-light;

  &.is-down {
    background-color: $mulberry-dark;
    border: 1px solid $mulberry-light;
  }

  &.is-warning {
    background-color: $salmon-dark;
    border: 1px solid $salmon-light;
  }

  svg {
    @include absolute-center;
    width: 0.625em;

    path {
      fill: currentColor;
    }
  }
}

// active server tile button
[aria-pressed="true"] .status-icon {
  border-color: $malachite-darker;

  &.is-down {
    border-color: $mulberry-darker;
  }

  &.is-warning {
    border-color: $salmon-darker;
  }

  path {
    fill: $white;
  }
}