.table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  border: 1px solid $dark-2;
  border-radius: $radius-md;
  border-spacing: 0;
  border-collapse: initial;
  background-color: $black;

  * {
    font-size: $font-size-md;
    font-weight: $body-weight;
  }

  th, td {
  padding: 0.425em;

    &:not(:last-child) {
      border-right: 1px solid $dark-2;
    }
  }

  th {
    background-color: $dark-2;

    &:first-child {
      border-top-left-radius: $radius-md;
    }
    &:last-child {
      border-top-right-radius: $radius-md;
    }
  }

  tr:not(:last-child) td {
    border-bottom: 1px solid $dark-2;
  }
  tr:nth-child(even) td {
    background-color: $dark-3;
  }
  tr:nth-child(even):last-child td:first-child {
    border-bottom-left-radius: $radius-md;
  }
  tr:nth-child(even):last-child td:last-child {
    border-bottom-right-radius: $radius-md;
  }

  th {
    color: $white;
  }

  td a {
    color: $light-1;
    text-decoration-color: $light-3;
  }
}