.accordion-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  // button overrides
  padding: 0.325rem 1.25rem 0.325rem $sp-lg;
  border-radius: 0;

  &:after {
    border-radius: 2px;
  }

  // active state
  &[aria-pressed="true"] {
    margin-top: 2px;

    .accordion-header-title {
      color: $dark-2;
    }

    .accordion-header-icon path {
      fill: currentColor;
    }

    .stat-label {
      color: $dark-2;
    }
    .stat-value {
      color: $black;
    }
  }

  // inactive state
  &:not([aria-pressed="true"]) {
    .accordion-header-icon svg {
      transform: translateX(2px) rotate(-90deg);
    }

    &:hover .accordion-header-icon path,
    &:focus .accordion-header-icon path {
      fill: $white;
    }
  }
}

.accordion-header-title {
  padding-right: $sp-lg;
}

.accordion-header-meta {
  display: flex;
  flex-wrap: wrap;
}

// round the top corners
.accordion-panel:first-of-type .accordion-header {
  border-top-left-radius: $radius-md;
  border-top-right-radius: $radius-md;

  &:after {
    border-top-left-radius: $radius-lg;
    border-top-right-radius: $radius-lg;
  }
}

// round the bottom corners, but not when open
.accordion-panel:last-of-type .accordion-header:not([aria-pressed="true"]) {
  border-bottom-left-radius: $radius-md;
  border-bottom-right-radius: $radius-md;

  &:after {
    border-bottom-left-radius: $radius-lg;
    border-bottom-right-radius: $radius-lg;
  }
}

.accordion-header-title {
  margin-right: auto;
}

.accordion-header-icon {
  position: absolute;
  left: 0.25em;
  margin-top: -1px;

  svg {
    width: 1em;
    height: auto;
    transition: transform 0.2s ease-out;
  }
}