.navbar {
  background-color: $dark-3;
  background-color: rgba($dark-3, 0.9666);
  z-index: 2;

  // fixed navbar on big screens
  // @media (min-width: 900px), (min-height: 900px) {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   z-index: 10;
  //   backdrop-filter: blur(6px);
  //   @include box-shadow;

  //   & + * {
  //     margin-top: 4rem;
  //   }
  // }
}

.navbar-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.navbar-logo {
  width: 5.3rem;
  display: flex;
  align-items: center;
}

.navbar-list {
  display: flex;
  right: -$navbar-link-padding;
}
