.server-card {
  display: flex;
  justify-content: space-between;
  padding: $sp-lg 0;
}

.server-card-col {
  flex: 1 0 auto;
  padding: 0 $sp-lg;

  &:not(:first-child) {
    border-left: 1px solid $dark-1;
  }
}

.tooltip {
  background-color: $dark-2;
  border: 1px solid $dark-1;
  border-radius: $radius-md;
  box-shadow: 0 1px 12px 0 rgba($black, 0.5);

  &:before {
    content: '';
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    transform: translateX(-50%) rotate(45deg);
    top: -0.7625rem;
    left: 50%;
    margin-left: -0.25rem;
    background-color: $dark-2;
    border-top: 1px solid $dark-1;
    border-left: 1px solid $dark-1;
    border-top-left-radius: $radius-md;
  }

  &.Muthalath-is-selected:before {
    transform: translateX(12.5vw) rotate(45deg);
    left: 0;
  }
  &.Muraba-is-selected:before {
    transform: translateX(77.5vw) rotate(45deg);
    left: 0;
  }
}