.server-tile {
	padding: $sp-md;
	display: flex;
}

.server-tile-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: 14rem;
	height: 100%;
}

.server-tile-list {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	justify-content: space-around;
}

.server-tile-status {
	margin-top: 0;
	padding-bottom: $sp-md;

	svg {
		width: 1em;
		top: -1px;
		margin-right: 0.125em;

		path {
			fill: currentColor;
		}
	}
}

.server-tile-item {
	padding-top: $sp-sm;
	padding-bottom: $sp-xs;

	&:first-child {
		padding-top: $sp-xs;
	}
	&:last-child {
		padding-bottom: $sp-sm;
	}
	&:only-child {
		margin-top: -$sp-lg;
	}
}