.server-tile {
	padding: $sp-md;
	display: flex;
}

.server-tile-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: 14rem;
}

.server-tile-list {
	display: flex;
	flex: 1 0 auto;
	flex-direction: column;
	justify-content: space-around;
}

.server-tile-item:first-child:not(:only-child) {
	padding-top: $sp-sm;
}