.stat {
  display: flex;
  @include body-text;
  text-transform: none;

  &:not(:last-child) {
    margin-right: $sp-lg;
  }
}

.stat-label {
  margin-right: $sp-xxs;
  color: $light-1;
}

.stat-value {
  font-weight: $bold-weight;
  color: $white;
}