.status-icon {
  display: inline-block;
  vertical-align: top;
  top: 1px;
  width: 1.125em;
  height: 1.125em;
  border-radius: 50%;
  background-color: $spring-dark;
  border: 1px solid $spring-light;

  &.is-down {
    background-color: $magenta-dark;
    border: 1px solid $magenta-light;
  }

  &.is-warning {
    background-color: $sun-dark;
    border: 1px solid $sun-light;
  }

  svg {
    @include absolute-center;
    width: 0.625em;

    path {
      fill: currentColor;
    }
  }
}

// active server tile button
[aria-pressed="true"] .status-icon {
  border-color: $spring-darker;

  &.is-down {
    border-color: $magenta-darker;
  }

  &.is-warning {
    border-color: $sun-darker;
  }

  path {
    fill: $white;
  }
}