.table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  border: 1px solid $dark-1;
  border-radius: $radius-md;
  border-spacing: 0;
  border-collapse: initial;
  background-color: $dark-3;

  * {
    font-size: $font-size-md;
    font-weight: $body-weight;
  }
}

.table-th,
.table-td {
  padding: 0.425em;

  &:not(:last-child) {
    border-right: 1px solid $dark-2;
  }
}

.table-th {
  background-color: $dark-2;

  &:first-child {
    border-top-left-radius: $radius-md;
  }
  &:last-child {
    border-top-right-radius: $radius-md;
  }
}

.table-tr:not(:last-child) .table-td {
    border-bottom: 1px solid $dark-2;
  }
.table-tr:nth-child(even) .table-td {
  background-color: rgba($dark-2, 0.5);
}
.table-tr:nth-child(even):last-child .table-td:first-child {
  border-bottom-left-radius: $radius-md;
}
.table-tr:nth-child(even):last-child .table-td:last-child {
  border-bottom-right-radius: $radius-md;
}

.table-th {
  color: $white;
}

.table-link {
  color: $light-1;
  text-decoration-color: $light-3;
}