//////////////////////////////////
// DOCUMENT SCALE
//////////////////////////////////

html {
  font-size: 16px;

  @media (min-width: 900px) {
    font-size: 18px;
  }
  @media (min-width: 1400px) {
    font-size: 20px;
  }
}

//////////////////////////////////
// FONT SIZES
//////////////////////////////////

html {
	font-family: $body-font;
	font-weight: $body-weight;
}

h1, .u-title {
	font-family: $title-font;
	font-weight: $title-weight;
	font-size: $font-xxxxl;
	line-height: 1;
}

h1, h2, h3, h4, h5, h6,
.u-heading {
	font-weight: $title-weight;
	margin-bottom: 1rem;
}

.u-font-xxxl {
	font-size: $font-xxxl;
	line-height: 2.5rem;
}

h2,
.u-font-xxl {
	font-size: $font-xxl;
	line-height: 2rem;
}

h3,
.u-font-xl {
	font-size: $font-xl;
	line-height: 1.5rem;
}

h4,
.u-font-lg {
	font-size: $font-lg;
	line-height: 1.5rem;
}

h5,
.u-font-md {
	font-size: $font-md;
	line-height: 1.25rem;
}

p, li, h6,
.u-font-sm {
	font-size: $font-sm;
	line-height: 1rem;
}

.u-font-xs {
	font-size: $font-xs;
	line-height: 0.75rem;
}

small, .u-font-xxs {
	font-size: $font-xxs;
	line-height: 0.75rem;
}