
.task-item {
  display: flex;
  align-items: center;
  padding-top: 0.125em;
  padding-bottom: 0.25em;
}
.task-item:not(:last-child) {
  border-bottom: 1px solid $dark-2;
}

.task-item-icon {
  width: 1em;
  top: -1px;

  &.positive-theme path {
    fill: $malachite-light;
  }
}

.task-item-title {
  padding-right: $sp-xs;
  color: $white;
}