//////////////////////////////////
// BASE LAYOUT
//////////////////////////////////

.wrapper {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	padding-left: $sp-md;
	padding-right: $sp-md;

  @media (min-width: 900px) {
    padding-left: $sp-xl;
    padding-right: $sp-xl;
  }
}

//////////////////////////////////
// TOOLS TILE GRID
//////////////////////////////////

// progressively enhanced layout
@supports (display: grid) {
	// 2 columns
	@media (min-width: 600px) {
		.tools-wrapper {
			display: grid;
			grid-template-columns: 1fr 2rem 1fr;
		}

		.tools-section:nth-child(1) { grid-column: 1/4; }
		.tools-section:nth-child(2) { grid-column: 1/2; }
		.tools-section:nth-child(3) { grid-column: 3/4; }

		.tools-heading {
			text-align: center;
		}

		.tools-item:last-child .tile {
			margin-bottom: 0;
		}

		// magic number to keep tiles vertically aligned when text breaks
		.tools-item .tile {
			min-height: 200px;
		}
	}

	// 3 columns
	@media (min-width: 900px) {
		.tools-wrapper {
			grid-template-columns: 1fr 2rem 1fr 2rem 1fr;
		}

		.tools-section:nth-child(1) { grid-column: 1/2; }
		.tools-section:nth-child(2) { grid-column: 3/4; }
		.tools-section:nth-child(3) { grid-column: 5/6; }

		// equal height columns
		.tools-section,
		.tools-list {
			display: flex;
			flex-direction: column;
		}
		.tools-list,
		.tools-item:only-child,
		.tools-item:only-child > .tile {
			height: 100%;
		}
	}
}

//////////////////////////////////
// ASSETS
//////////////////////////////////

.assets-wrapper {
	@media (min-width: 760px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-gap: $sp-xl;
		margin-bottom: $sp-xl;

		.tile {
			margin-bottom: 0;
		}
	}
}

.assets-tile li {
	display: inline-block;
	color: $light-1;

	& + li {
		margin-left: $sp-xl;

		&:before {
			content: '•';
			position: absolute;
			left: -0.825rem;
			color: $gray;
		}
	}

	strong {
		color: $white;
	}
}

//////////////////////////////////
// SERVERS
//////////////////////////////////

.servers-wrapper {
	margin-top: -$sp-sm;
}

$server-grid-gutter: 5vw;
$server-arrow-width: 0.75rem;

.servers-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: $server-grid-gutter;

	.server-tile:not(:last-child):before,
	.server-tile:not(:last-child):after {
		@include absolute-vertical-center;
		content: '';
		display: block;
	}
	.server-tile:not(:last-child):before {
		border-bottom: 4px solid $light-2;
		width: calc(#{$server-grid-gutter} - #{$server-arrow-width});
		left: 100%;
		z-index: -1;
	}
	.server-tile:not(:last-child):after {
		border-top: $server-arrow-width / 2 solid transparent;
		border-bottom: $server-arrow-width / 2 solid transparent;
		border-left: $server-arrow-width solid $light-2;
		width: 0;
		height: 0;
		right: -$server-grid-gutter;
	}
}