.server-stat-table {
  margin-top: auto;
  text-align: left;
  table-layout: fixed;

  th, td {
    padding-bottom: $sp-xs;
    vertical-align: baseline;
  }

  th, .capacity-percentage {
    font-weight: $body-weight;
  }
  td {
    color: $white;
    font-weight: $bold-weight;
    padding-left: $sp-md;
  }

  .capacity-cell {
    padding-bottom: $sp-xxs;

    .capacity-percentage {
      display: block;
      margin-top: -0.25em;
      color: $light-1;
    }
  }
}