.filter-search {
  svg {
    @include absolute-vertical-center;
    left: 0.5em;
    margin-top: -1px;
    z-index: 1;
    width: 1.25em;
  }

  path {
    transition: fill 0.2s ease-out;
  }

  &:hover path,
  &:focus path {
    fill: currentColor;
  }
}

.filter-search-input {
  border: 1px solid $dark-1;
  border-radius: 2em;
  background-color: $dark-3;
  padding-left: 2.125em;

  &::placeholder {
    color: $light-2;
  }
}
