.select-label.inline {
  display: inline-flex;
  align-items: baseline;
}

.select-label-inner {
  color: $white;
  font-weight: $bold-weight;
}

.select-inner svg {
  @include absolute-vertical-center;
  width: 0.875em;
  right: 0.5em;
  pointer-events: none;
}

.select {
	display: block;
  width: 100%;
  padding: 0.125em 1.75em 0.125em 0.25em;
  color: $light-1;
  background-color: $dark-2;
  background-image: linear-gradient(180deg, rgba($white, 0.15) 0%, rgba($white, 0) 100%);
  border: 1px solid $dark-1;
  border-radius: 2px;
  // bring my own chevron
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

  &:hover, &:focus {
    color: $white;

    & + svg path {
      fill: currentColor;
    }
  }
}
/* Hide arrow icon in IE browsers */
.select::-ms-expand {
	display: none;
}