@import '1-utils/functions';
@import '1-utils/variables';
@import '1-utils/mixins';
@import '1-utils/utility-classes';

@import '2-base/reset';
@import '2-base/typography';
@import '2-base/theme';

@import '3-layout/layout';

@import '4-components/space-bg';
@import '4-components/navbar';


//////////////////////////////////
// HERO
//////////////////////////////////

.hero {
	padding-top: 22.25%; // maintain aspect ratio
	min-height: 12rem; // make sure there's room for text on small screens
	z-index: 1; // fix hidden hero-img on Safari
}

.hero-wrapper {
	@include absolute-center;
	width: 100%;
}
// left align content edge with strike on small screens
@media (max-width: 899px) {
	.hero-wrapper {
		padding-left: 2.25rem;
	}
}

// strike
.hero-headline:before {
	content: "";
	display: block;
	height: 1.21em; // ~48px
	width: 0.14em; // 10px
	position: absolute;
	left: -0.042em;
	bottom: 0.042em;
	z-index: -1;
	transform: skew(-24deg, 0);
	background-image: $prism-vertical;
}

.hero-img {
	@include absolute-expand;
	object-fit: cover;
	z-index: -1;
}


//////////////////////////////////
// TILE
//////////////////////////////////

.tile {
	display: block; // fallback
	display: flex;
	text-align: center;
	padding: 2.5rem;
}

.tile-img {
	transition: transform 0.2s ease-out;
}

.tile-img:not([src*="logo"]) {
	height: 2rem;
	margin-top: $sp-xs;
}

.tile:hover .tile-img,
.tile:focus .tile-img {
	transform: scale(1.125);
}

.tile-img ~ * {
	display: block;
	margin-top: 0.75em;
}

.tile-title {
	@include subhead-text;
	line-height: 1.25;
}

// outbound icon
.tile-icon {
	position: absolute;
	top: $sp-xs;
	right: $sp-xs;
	transform: scale(0.875);
	transition: transform 0.2s ease-out;
}

.tile-icon path {
	transition: fill 0.2s ease-out;
}

.tile:hover .tile-icon,
.tile:focus .tile-icon {
	transform: none;
}

.tile:hover .tile-icon path,
.tile:focus .tile-icon path {
	fill: $white;
}

.darkglass.tile {
	z-index: 1; // prevent gradient from disappearing on hover in Safari
	transition: border-color 0.2s ease-out;
}

// add background color to pseudo element so it can be transitioned in
.darkglass.tile:after {
	content: "";
	display: block;
	position: absolute;
	top: -1px; right: -1px; bottom: -1px; left: -1px; // behind border
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	background-image: $prism-transparent;
	border-radius: $radius-md;
	z-index: -1;
	opacity: 0;
	transition: all 0.2s ease-out;
	transition-property: opacity, box-shadow, border-color;
}
.darkglass.tile:hover,
.darkglass.tile:focus {
	border-color: rgba($white, 0.425);
	box-shadow: 0 1px 14px 0 rgba($white, 0.333);
	backdrop-filter: blur(1px); // transform + background blur makes inner content blurry
}

.darkglass.tile:hover:after,
.darkglass.tile:focus:after {
	opacity: 1;
}